.promo {
  margin-bottom: 63px;
}

.promo__content {
  display: flex;
  column-gap: 24px;

  padding: 68px 120px;

  border-radius: 59px;
  background-color: #f4f6f5;

  max-width: 1720px;
  margin: 0 auto;
}

.promo__text {
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 96px;
  line-height: calc(120 / 96);
}

.promo__title {
  min-width: 480px;
  margin-bottom: 40px;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.25;
}

.promo__desc {
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 32px;
  line-height: calc(48 / 32);
  letter-spacing: -0.05em;
}

.promo-btn {
  display: flex;
  align-items: center;
}

.promo__btn-wrapper {
  gap: 34px;

  padding: 19px 41px 18px 40px;
  border-radius: 10px;
  font-size: 30px;
  color: #fff;
  background-color: black;
  font-weight: 500;
}

.promo__btn-decor {
  width: 190px;
  height: 32px;

  background-image: url("../../img/icons/decor-yellow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  flex-shrink: 0;
}

.highlight {
  position: relative;
}

.highlight span {
  position: relative;
}

.highlight::before {
  color: black;
  background-color: #fff;
  content: "";
  display: block;
  position: absolute;
  top: -0px;
  bottom: -0px;
  left: -20px;
  right: -60px;
  transform: rotate(-3deg);
}

.highlight--yellow::before {
  background-color: var(--yellow);
  right: -110px;
}

/* ===== 1400px ===== */
@media (max-width: 1400px) {
  .promo__content {
    padding: 50px 70px;
  }

  .promo__title,
  .promo__text {
    font-size: 72px;
  }

  .promo__desc {
    font-size: 26px;
  }

  .promo__btn-wrapper {
    font-size: 20px;
    padding: 14px 30px 14px 30px;
  }

  .promo__btn-decor {
    width: 140px;
    height: 26px;
  }
}

/* ===== 1200px ===== */
@media (max-width: 1200px) {
  .promo__content {
    flex-direction: column;
    text-align: center;
    padding: 50px 40px;
    border-radius: 35px;
  }

  .promo-btn {
    justify-content: center;
  }

  .promo__title {
    min-width: auto;
  }

  .promo__title,
  .promo__text {
    font-size: 58px;
  }

  .promo__desc {
    font-size: 24px;
  }

  .promo__image {
    margin-top: 30px;
    max-width: 500px;
  }

  /* ===== 768px ===== */
  @media (max-width: 768px) {
    .promo {
      margin-bottom: 40px;
    }

    .promo__content {
      padding: 35px 20px;
      border-radius: 25px;
    }

    .promo__title,
    .promo__text {
      font-size: 42px;
      margin-bottom: 25px;
    }

    .highlight--yellow::before {
      width: 200px;
    }

    .promo__desc {
      font-size: 20px;
      margin-bottom: 25px;
    }

    .promo__btn-wrapper {
      font-size: 22px;
      padding: 14px 28px;
    }

    .promo__btn-decor {
      width: 130px;
      height: 22px;
    }
  }
}
