.young {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 190px 100px 206px 100px;
}

.young__header {
  font-size: 48px;
  padding-bottom: 118px;
  font-weight: 800;
}

.young__slider {
  justify-content: center;
  align-items: center;

  display: flex;
  gap: 47px;
}
