.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 119px 0 147px;
  background-color: black;
  color: white;
}

.footer__fashion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 100px;
}

.footer__text {
  display: flex;
  gap: 20px;
}

.footer__fashion-text1 {
  text-transform: uppercase;
  font-size: 40px;
  line-height: auto;
  font-weight: 900;
  padding-bottom: 32px;
}

.footer__fashion-text2 {
  width: 270px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: auto;
  font-weight: 400;
  padding-bottom: 32px;
  color: #8e8e8e;
}

.fashion__logos {
  display: flex;
  gap: 14px;
  width: 52hug;
  height: 52hug;
}

.fashion__company a {
  color: white;
}

.fashion__company ul {
  display: flex;
  flex-direction: column;
  gap: 32px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.fashion__company li {
  margin-bottom: 14px;
  width: 270px;
}

.fashion__company span {
  color: #d9d9d9;
  font-weight: 700;
  font-size: 18px;
}

.fashion__company a {
  color: #8e8e8e;
  text-decoration: none;
}

/* 1400px */
/* ======================= */
@media (max-width: 1400px) {
  .footer {
    flex-direction: column;
    gap: 50px;
    padding: 80px 40px;
  }

  .footer__fashion {
    padding-left: 0;
  }

  .footer__text {
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
  }
}

/* 992px */
/* ======================= */
@media (max-width: 992px) {
  .footer__fashion-text1 {
    font-size: 32px;
  }

  .footer__fashion-text2 {
    font-size: 18px;
    width: 100%;
    max-width: 400px;
  }

  .fashion__company li {
    width: 220px;
  }
}

/* 768px */
/* ======================= */
@media (max-width: 768px) {
  .footer {
    padding: 60px 20px;
    gap: 40px;
    justify-content: center;
    align-items: center;
  }

  .footer__text {
    flex-direction: column;
    gap: 35px;
    padding-left: 45%;
  }

  .footer__fashion {
    align-items: center;
    text-align: center;
  }

  .fashion__logos {
    justify-content: center;
    flex-wrap: wrap;
  }

  .fashion__company ul {
    gap: 20px;
  }

  .fashion__company li {
    width: 100%;
  }
}
