.baseFooter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  background-color: var(--yellow);
}

.baseFooter__text {
  padding-top: 141px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.baseFooter__text-main {
  display: flex;
  flex-direction: column;
}

.baseFooter__text-main1 {
  font-size: 55px;
  font-weight: 900;
}

.baseFooter__text-main2 {
  font-size: 55px;
  font-weight: 900;
  margin-bottom: 37px;
}

.baseFooter__text-second {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 49px;
}

.baseFooter__callback {
  padding-bottom: 156px;
}

.baseFooter__callback-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #fff;
  border-radius: 10px;

  padding: 8px 8px 8px 16px;

  width: 574px;
  height: 87px;
}

.baseFooter__callback-text {
  color: #999;
  font-size: 24px;
}

.baseFooter__callback-button span {
  font-size: 33px;
  font-weight: normal;
}

.baseFooter__callback-button {
  background: #000;
  color: #fff;

  height: 100%;
  padding: 0 18px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;

  cursor: pointer;
  font-size: 13px;
  font-weight: 600;

  width: 161px;
  height: 67px;
}

/* ===== 1200px ===== */
@media (max-width: 1200px) {
  .baseFooter__text {
    padding-top: 100px;
  }

  .baseFooter__text-main1,
  .baseFooter__text-main2 {
    font-size: 42px;
  }

  .baseFooter__text-second {
    font-size: 24px;
  }

  .baseFooter__callback-box {
    width: 480px;
    height: 75px;
  }

  .baseFooter__callback-text {
    font-size: 20px;
  }

  .baseFooter__callback-button {
    width: 140px;
    height: 60px;
  }

  .baseFooter__callback-button span {
    font-size: 24px;
  }
}

/* ===== 768px ===== */
@media (max-width: 768px) {
  .baseFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }

  .baseFooter__text {
    padding-top: 80px;
  }

  .baseFooter__text-main1,
  .baseFooter__text-main2 {
    font-size: 28px;
  }

  .baseFooter__text-second {
    font-size: 18px;
    margin-bottom: 30px;
  }

  .baseFooter__callback-box {
    width: 100%;
    max-width: 420px;
    height: 70px;
  }

  .baseFooter__callback-text {
    font-size: 16px;
  }

  .baseFooter__callback-button {
    width: 120px;
    height: 55px;
  }

  .baseFooter__callback-button span {
    font-size: 18px;
  }
}

.baseFooter__error {
  color: white;
  font-size: 30px;
  margin-top: 5px;
  display: block;
  background-color: black;
  justify-content: center;
  text-align: center;
  border-radius: 20px;
}
